.game-container {
    display: flex;
}

#field {
    margin: auto;
    padding: 5px;
    background-color: lightcoral;
    border-radius: 7px;
}

.row {
    margin: 0;
    padding: 0;
}

.cell {
    width: 30px;
    height: 30px;
    border: solid 1px darkslategrey;
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    margin-right: 3px;
}
.cell:last-child{
    margin-right: 0px;
}

.cell.active {
    background-color: red;
}